<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<div id="app">
		<p><input type="text" v-model="sch"><button @click="getDate">getDate</button></p>
		<ul>
			<h2>搜索结果：</h2>
			<li v-for="list of myData" v-text="list"></li>
		</ul>
	</div>
	<script type="text/javascript" src="vue.js"></script>
	<script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
	<script type="text/javascript">
		var vm=new Vue({
			el:"#app",
			data:{
				myData:[],
				sch:''
			},
			methods:{
				getDate:function(){
						this.$http.jsonp('https://sug.so.360.cn/suggest',{
								word:'s'
						}).then(function(res){
								console.log(res.data.s);
						},function(){

						})
				}
			}
		})
	</script>
</body>
</html>