<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<!-- 
	<div id="app">
		<my-component></my-component> -->
		<!-- <my-component-child></my-component-child> -->
		<!-- <div v-text="message"></div>
		<input type="text" name="" v-model="message"> -->
		<!-- <div v-for="(value, key) in object">
		   {{$index}},{{ key }} : {{ value }}
		</div>
		<div>
			<span v-for="n in 10">{{n}}</span>
		</div>
		<input type="checkbox" name="" value="wx" v-model="checkName"> wx
		<p>{{checkName}}</p>
		<input type="radio" name="" value="wx" v-model="radioName">
		<p>{{radioName}}</p> -->
		<div id="app-inner">
			<!-- <my-component></my-component> -->
			<button @click="getData">getData</button>
			<my-component-child :some-data="someData"></my-component-child>

		</div>
		<!-- </div> -->
		<script type="text/javascript" src="vue.js"></script>
		<script src="https://cdn.jsdelivr.net/vue.resource/1.0.3/vue-resource.min.js"></script>
		<script type="text/javascript">
	 //    var data={a:1};
		// var app=new Vue({
		// 	el:"#app",
		// 	data:data
		// 	// data:{

		// 	// 	newTodo:"",
		// 	// 	todos:[{text:"hello vue.js!"}]
		// 	// },
		// 	// methods:{
		// 	// 	addTodo:function(){
		// 	// 		var text=this.newTodo.trim();
		// 	// 		if(text){
		// 	// 			this.todos.push({text:text});
		// 	// 			this.newTodo="";
		// 	// 		}
		// 	// 	},
		// 	// 	removeTodo:function(index){
		// 	// 		this.todos.splice(index,1);
		// 	// 	}
		// 	// }
		// });
		// Vue.component("my-component",{
		// 	template:"<div>A custom component</div>"
		// });
		// var app=new Vue({
		// 	el:"#app",
		// 	data:{
		// 		 object: {
		// 		      FirstName: 'John',
		// 		      LastName: 'Doe',
		// 		      Age: 30
		// 		    }
		// 	}
		// });
		// var child={
		// 	template:""
		// }
		var appInner=new Vue({
			el:"#app-inner",
			data:{
				someData:[]
			},
			components:{
				'my-component-child':{
					template:'<ul><li v-for="data of someData">{{data.provider}}</li></ul>',
					props:['someData']
				}
			},
			methods:{getData:function(){
				this.$http.get('http://study.163.com/webDev/hotcouresByCategory.htm').then(function(response){
					console.log(JSON.parse(response.body));
					this.$set(this.$data,'someData',JSON.parse(response.body));
				},function(response){
					console.log(response.status)
				})
			}
		}
	});
		// console.log(JSON.stringify(app.$data))
	</script>
</body>
</html>